body {
    margin: 0;
    padding: 0;
}

#mazeInput {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 800px;
    background-color: #FF9A91;
    font-family: monospace;
}
